@import "compass/css3/transition";

$link-color: #119;
$active-color: #9ff;
$yellow: #ff7;

@mixin no-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: sans-serif;
	min-height: 400px;
	color: #333;
}

a:link, a:visited {
	color: #119;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		background: $active-color;

		img {
			background: none;
		}
	}
}

#sidebar {
	text-align: center;
	min-height: 400px;
	background: rgb(245, 245, 245);
	border-left: 1px solid rgb(230, 230, 230);
	// width: 200px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	.title {
		margin: 0 auto;
		background: #333;
		color: #ddd;
	}

	.padded {
		padding: 15px;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: block;
		padding: 15px;
		margin: 5px auto;
		border: 1px solid #ddd;
		cursor: pointer;
		background: $yellow;
		border: 1px dotted black;
	}

	.attribution {
		// padding: 10px;
		// position: absolute;
		margin: 10px auto;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
	}
}

.handle {
	cursor: pointer;
}

.label {
	pointer-events: none;
	@include no-selection;
	cursor: inherit;
	stroke: black;
	stroke-width: 0px;
	font-size: 12px;
	text-transform: uppercase;
}

.process {
	.process-handle {
		fill: rgba(#000, 0.9);
		stroke: #fff;
		stroke-width: 2px;
		cursor: move;
	}
	.process-name {
		fill: white;
		stroke: black;
		stroke-width: 1px;
		font-size: 14px;
		font-weight: bold;
	}
}

.socket {
	.socket-handle {
		@include single-transition(stroke, 250ms);
		@include single-transition(stroke-width, 250ms);
		stroke-width: 2px;
		fill: rgba(white, 0.9);
		stroke: rgba(black, 0.9);
	}
	// &.input {
	// 	circle.socket-handle {
	// 		fill: rgba(cyan, 0.9);
	// 		stroke: rgba(cyan, 0.5);
	// 	}
	// 	.substance-name {
	// 		fill: #444;
	// 	}
	// }
	// &.output {
	// 	circle.socket-handle {
	// 		fill: rgba(orange, 0.9);
	// 		stroke: rgba(orange, 0.5);
	// 	}
	// 	.substance-name {
	// 		fill: #000;
	// 	}
	// }
	&.potential-mate {
		circle.socket-handle {
			stroke: rgba(yellow, 0.5);
			stroke-width: 40px;
		}
	}
}

.process-socket-link {
	stroke: black;
	stroke-width: 7px;

	&.input {
		stroke: black;
		stroke-width: 4px;
	}
}