html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#sidebar {
	background: rgb(245, 245, 245);
	border-left: 1px solid rgb(230, 230, 230);
	width: 300px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.socket {
	&.input {
		fill: red;
	}
	&.output {
		fill: blue;
	}
}